.field{
    padding: 45px;
    text-align: center;
}
.submit{
  text-align: center;
}
h1{
  text-align: center;
}
.send{
  font-size: 20px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.send:hover {
  background-color: #555555;
  color: white;
}
.bd{
  text-align: center;
}
.crossing{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

table{
  border: 1px solid #eee;
  width: 100%;
  margin-top: 20px;
}
table th {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
table td{
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: center;
}
table tbody tr:nth-child(odd){
  background: #fff;
}
table tbody tr:nth-child(even){
  background: #F7F7F7;
}